<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" />
    <title>My Tabloid</title>

</head>
<body>
<div id="header-div">
    <h1> B.T.</h1>
    <ul class="main-navigation">
        <li class="nav-nyheder">NYHEDER &nbsp&nbsp&nbsp</li>
        <li class="nav-sport">SPORT &nbsp&nbsp&nbsp</li>
        <li class="nav-underholdning">UNDERHOLDNING</li>
    </ul>
</div>

<div class="body-div">
    <div class="news-detail">
        <div class="news-headline">
            For kantet til Frederiksberg: Konservativ profil vil hellere i Folketinget
        </div>
        <div class="news-image">
            <img src="/images/det-skal-hun-nu.jpg" width="500" height="400">

        </div>
        <div class="news-body">
            <p>
                Laura Lindahl var ellers af mange blevet spået til at være det oplagte bud på at være De Konservatives næste borgmesterkandidat på Frederiksberg efter det historiske nederlag ved kommunalvalget i november.
            </p>
            <p>
                Her mistede De Konservative mistede borgmesterposten efter at have haft den i 112 år.
            </p>
            <p>
                Men Laura Lindahl, der i november blev valgt ind i kommunalbestyrelsen i Frederiksberg med partiets næsthøjeste stemmetal, vil nu hellere i Folketinget end at gå efter borgmesterposten på Frederiksberg.
            </p>
            <p>................</p>

        </div>
    </div>
</div>
</body>
</html>