<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" />
    <title>My Tabloid</title>

</head>
<body>
<div id="header-div">
    <h1> B.T.</h1>
    <ul class="main-navigation">
        <li class="nav-nyheder">NYHEDER &nbsp&nbsp&nbsp</li>
        <li class="nav-sport">SPORT &nbsp&nbsp&nbsp</li>
        <li class="nav-underholdning">UNDERHOLDNING</li>
    </ul>
</div>
<div class="body-div">

    <div class="left-right-div"></div>



    <div id="center-div">


        <div class="individual-news yellow-background-news" onclick="location.href='/strid-ved-ambassaden'";>

            <div>
                <img src="/images/image-ambassade.jpg" width="500" height="400">
            </div>
            <div><span class="font-size-full-width">Kæmpe</span><br/>
                <span class="font-size-full-width">strid ved</span><br/>
                <span class="font-size-full-width font-red">ambassaden</span>
            </div>
        </div>

        <div class="individual-news red-background-news" onclick="location.href='/det-skal-hun-nu'">
            <span class="font-size-full-width">Dropper det:</span><br/>
            <span class="font-size-full-width">Det skal</span><br/>
            <span class="font-size-full-width">Hun nu</span>
        </div>

        <div class="individual-news yellow-background-news" onclick="location.href='https://www.bt.dk/udland/live-usa-invasion-af-ukraine-kan-vaere-faa-dage-borte-forlad-landet'">
            <div class="breaking-news-title">BREAKING</div>
            <div class="breaking-news-body">
                <span class="font-red font-size-full-width">LIGE NU:</span><br/>
                <span class="font-size-full-width">krigs-</span><br/>
                <span class="font-size-full-width">trommer</span>
            </div>
        </div>



        <div class="individual-news white-background-news" onclick="location.href='https://www.bt.dk/samfund/mor-i-opraab-downs-syndrom-er-ikke-en-doedsdom'">
            <div>
                <img src="/images/mor-i-opråb.jpg" width="500" height="400">
            </div>
            <div>
                <span class="font-size-full-width">Mor i</span><br/>
                <span class="font-size-full-width">opråb:</span><br/>
                <span class="font-size-full-width">Gør ondt</span><br/>
            </div>
        </div>


        <div class="individual-news black-background-news" onclick="location.href='https://www.bt.dk/krimi/lene-blev-forsoegt-svindlet-paa-messenger-politiet-advarer-mod-nyt-svindelnummer'">
            <div>
                <span class="font-size-full-width">Politiet</span><br/>
                <span class="font-size-full-width">advarer om</span><br/>
                <span class="font-size-full-width">Messenger</span><br/>
            </div>
        </div>

    </div>

    <div class="left-right-div"></div>


</div>




</body>
</html>