<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" rel="stylesheet" />
    <title>My Tabloid</title>

</head>
<body>
<div id="header-div">
    <h1> B.T.</h1>
    <ul class="main-navigation">
        <li class="nav-nyheder">NYHEDER &nbsp&nbsp&nbsp</li>
        <li class="nav-sport">SPORT &nbsp&nbsp&nbsp</li>
        <li class="nav-underholdning">UNDERHOLDNING</li>
    </ul>
</div>

<div class="body-div">
    <div class="news-detail">

        <div class="news-headline">
            Venstre vil fjerne russiske diplomaters p-pladser – nu svarer ambassade igen
        </div>
        <div class="news-image">
            <img src="/images/image/image-ambassade.jpg">
        </div>
        <div class="news-body">

            <p>Nok er det en typisk fordom at russere er kendt for ikke at smile særlig ofte.</p>

            <p>Men på den russiske ambassade i København har de alligevel god grund til at trække på smilebåndet.</p>

            <p>Som B.T. tirsdag kunne fortælle, råder stormagtens ambassade over 23 parkeringspladser, hvilket er over dobbelt mange som de ni parkeringspladser, der reserveret langs den amerikanske ambassade blot få hundrede derfra.</p>
        </div>
    </div>
</div>




</body>
</html>