<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/images/css/style.css" rel="stylesheet" />
    <title>My Tabloid</title>

</head>
<body>
<div id="header-div">
    <h1> B.T.</h1>
    <ul class="main-navigation">
        <li class="nav-nyheder">NYHEDER &nbsp&nbsp&nbsp</li>
        <li class="nav-sport">SPORT &nbsp&nbsp&nbsp</li>
        <li class="nav-underholdning">UNDERHOLDNING</li>
    </ul>
</div>

<div class="body-div">
    <div class="news-detail">
        <div class="news-headline">

        </div>
        <div class="news-image">

        </div>
        <div class="news-body">

        </div>
    </div>
</div>
</body>
</html>